.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    z-index: 2;
    height: 4rem;
}

.nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    display: none;
}

.nav-icons {
    display: none;
}


@media screen and (min-width: 992px) {
    .nav-header {
        width: auto;
    }

    .nav-links {
        display: flex;
        align-items: center;
        letter-spacing: var(--spacing);
        transition: var(--transition);
        cursor: pointer;
        font-size: 1rem;
        gap: 1rem;
    }

    .nav-links a {
        color: var(--clr-grey-1);
    }

    .nav-links a:hover {
        color: var(--clr-primary-5);
    }

    .nav-icons {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        transition: var(--transition);
        gap: 1rem;
    }

    .nav-icons a {
        color: var(--clr-primary-5);
    }

    .nav-icon a:hover {
        color: var(--clr-primary-8);
    }

    .nav-toggle {
        display: none;
    }
}

/* home */

.home {
    min-height: 100vh;
    background: var(--clr-primary-5);
    display: flex;
    justify-content: center;
    align-items: center;
}