<nav class="navbar">
    <div class="nav-center">
        <img src={logo} alt=""/>
        <button><i className='fas fa-bars'></i></button>
    </div>
</nav>

<ul class="nav-links">
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Services</a></li>
    <li><a href="">Tours</a></li>
</ul>


<ul class="nav-icons">
    <ul><a href="https://github.com/boyeonJ"><i class="fa-brands fa-github"></i></a></ul>
    <ul><a href="https://velog.io/@boyeon_jeong"><i class="fa-brands fa-vimeo-v"></i></a></ul>
</ul>

<ul class="nav-icons">
    <li><a href=""></a></li>
</ul>